@font-face {
    font-family: 'Baloo Chettan 2';
    src: url('../Fonts/BalooChettan2-Regular.ttf');
}

body {
    font-family: 'Baloo Chettan 2';
    background-color: lightblue;
    background-image: url("/Images/programming.jpg");
    background-color: #cccccc;
}
  
h1 {
    color: navy;
    text-align: center;
}